<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" *ngIf="show" opened>
      <a routerLink="/" routerLinkActive="active" class="focus" *ngIf="isExpanded" style="color:black;text-align: center;font-size: 26px;">
        <h1 style="font-size:26px;padding: 15px;">Commerce</h1>
      </a>
      <a routerLink="/" routerLinkActive="active" class="focus" *ngIf="!isExpanded" style="color:black;text-align: center;font-size: 26px;display: block;padding: 15px;">
        <mat-icon mat-list-icon>shop</mat-icon>
      </a>
      <mat-nav-list class="nav-menu" [@sidenavAnimationIsExpanded]="isExpanded" (@sidenavAnimationIsExpanded.start)="start()" (@sidenavAnimationIsExpanded.done)="done()">
          <mat-list-item routerLink="/">
            <mat-icon mat-list-icon>dashboard</mat-icon>
            <p matLine *ngIf="isExpanded">Dashboard</p>
          </mat-list-item>
          <mat-list-item >
            <mat-icon mat-list-icon>supervisor_account</mat-icon>
            <p matLine *ngIf="isExpanded">Users</p>
          </mat-list-item>
          <mat-list-item >
            <mat-icon mat-list-icon>shop</mat-icon>
            <p matLine *ngIf="isExpanded">Products</p>
          </mat-list-item>
          <mat-list-item >
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <p matLine *ngIf="isExpanded" (click)="logout()">Log Out</p>
          </mat-list-item>
          <mat-list-item style="position:absolute;bottom:0" (click)="isExpanded = !isExpanded">
            <mat-icon *ngIf="!isExpanded">chevron_right</mat-icon>
            <mat-icon *ngIf="isExpanded">chevron_left</mat-icon>
          </mat-list-item>
        </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header (messageEvent)= "receiveMessage($event)"></app-header>
    <section>
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>