<div class="grid-container">
  <mat-card class="login-card">
    <mat-card-header class="text-center">
      <mat-card-title>
        LOGIN
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="col-12">
          <input matInput placeholder="Email" type="email" formControlName="email">
          <mat-error *ngIf="loginForm.hasError('required','email')">Your email is required</mat-error>
          <mat-error *ngIf="loginForm.hasError('email','email')">Please enter valid email</mat-error>
        </mat-form-field>
        <mat-form-field class="col-12">
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="loginForm.hasError('required','password')">Your password is required</mat-error>
        </mat-form-field>
        <div class="text-right">
          <mat-spinner *ngIf="spinnerShow" class="spinner" [diameter]=25 [color]="accent" [mode]="indeterminate">
          </mat-spinner>
          <button mat-raised-button class="login-btn">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>