.product {
  padding: 35px 0;
  .product-col{
    padding: 0 25px;
  }
  .product-heading {
    text-align: center;
    h1 {
      margin: 0;
      padding: 10px 0 25px 0;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    .product-card {
      img {
        width: 50%;
      }
      .mat-card-image:first-child {
        margin-top: 0;
      }
      .mat-card-content>:first-child{
        color: #3F51B5;
        font-weight: 600;
      }
    }
  }
}
