<div class="container-fluid" [ngStyle]="{'height':height}">
  <div class="row">
    <div class="col-12" style="padding-top:15px;">

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <div class="mat-elevation-z8">
        <div class="text-right" style="background-color:#fff;padding: 15px 15px;">
          <button mat-mini-fab color="accent" (click)="dialogOpen()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <table mat-table matSort [dataSource]='dataSource' class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Sno">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="font"> SNO </th>
            <td mat-cell *matCellDef="let product;let i = index"  class="font"> {{i+1}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header  class="font"> Name </th>
            <td mat-cell *matCellDef="let product"  class="font"> {{product.Name}} </td>
          </ng-container>

          <!-- Price Column -->
          <ng-container matColumnDef="Price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="font"> Price </th>
            <td mat-cell *matCellDef="let product" class="font"> {{product.Price}} </td>
          </ng-container>

          <!-- Image Column -->
          <ng-container matColumnDef="Image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="font"> Image </th>
            <td mat-cell *matCellDef="let product" class="font"> <img src={{product.Image}} class="img-fluid" style="width:20px;height:auto;"> </td>
          </ng-container>

          <!--Date Column-->
          <ng-container matColumnDef="DateCreated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="font"> Date Created </th>
            <td mat-cell *matCellDef="let product" class="font"> {{product.DateCreated | date:'medium'}} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let product;let i = index">
                <mat-icon mat-list-icon style="cursor:pointer;" (click)="edit(product)">create</mat-icon>
                <mat-icon mat-list-icon style="cursor:pointer;" (click)="delete(product.ProductId)">delete</mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>