<div class="container-fluid" style="padding-top: 20px;padding-bottom: 10px" [ngStyle]= "{'height':height}"  >
  <div class="row">
    <div class="col-4">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            No of Users
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="padding-left:16px;">{{dashboardData?.NoOfUsers}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            No of Products
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="padding-left:16px;">{{dashboardData?.NoOfProducts}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            No of Orders
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="padding-left:16px;">{{dashboardData?.NoOfOrders}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>