/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    margin: 0;
    padding:0;
}

.grid-container{
    display: grid;
    display: -ms-grid;
    height: 560px;
    justify-content: center;
    align-items: center;

    .login-card{
        width: 500px;

        .login-btn{
            margin: 15px 15px 15px 0;
            float: right;
            background-color: 'accent';
            &:focus{
                outline: 0;
            }
        }
    }

}

.focus{
    color: #fff;
    &:focus{
        outline: 0;
    }
    &:hover{
        color: #fff;
        text-decoration: none;
    }
}

