@import "~@angular/material/theming";

@include mat-core();

$commerce-app-primary: mat-palette($mat-indigo);
$commerce-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$commerce-app-warn:    mat-palette($mat-red);
$commerce-app-theme:   mat-light-theme($commerce-app-primary, $commerce-app-accent, $commerce-app-warn);

@include angular-material-theme($commerce-app-theme);