<h1 mat-dialog-title class="font">{{data.title}}</h1>
<div mat-dialog-content style="padding-bottom:15px;">
  <form [formGroup]="addProductForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="col-12 p-0">
      <input matInput class="font" placeholder="Name" type="text" formControlName="name">
      <mat-error *ngIf="addProductForm.hasError('required','name')" class="font">Product name is required</mat-error>
    </mat-form-field>
    <mat-form-field class="col-12 p-0">
      <input matInput class="font" placeholder="Price" type="text" formControlName="price">
      <mat-error *ngIf="addProductForm.hasError('required','price')" class="font">Product price is required</mat-error>
    </mat-form-field>
    <div *ngIf="data.title=='Create Product'" class="col-12 p-0">
      <input (change)="upload($event)" placeholder="Upload product image" type="file" id="file" formControlName="image">
      <mat-error *ngIf="addProductForm.hasError('required','image')&& addProductForm.dirty" class="font">Upload a product image
      </mat-error>
    </div>
    <div *ngIf="data.title=='Update Product'" class="col-12 p-0">
      <input style="padding:15px 0;" class="font" *ngIf="data.title=='Update Product' && data.product.Image ==''" (change)="upload($event)" placeholder="Upload product image" type="file"
        id="file" formControlName="image">
      <div style="display:inline-block;position: relative;padding: 20px 0;" *ngIf="data.title=='Update Product' && data.product.Image !=''">
        <button style="position:absolute;top:0px;right:-16px;" mat-mini-fab color="primary" (click)="removeImage()">
          x
        </button>
        <img src="{{data.product.Image}}" alt="product" style="width:100px;height:auto">
      </div>
      <mat-error class="font" *ngIf="addProductForm.hasError('required','image')&& addProductForm.invalid && data.product.Image ==''">
        Upload a product image
      </mat-error>
    </div>
    <mat-form-field class="col-12 p-0">
      <textarea matInput class="font" placeholder="Description" formControlName="desc"></textarea>
    </mat-form-field>
    <p *ngIf="success">Product Created Successfully</p>
    <p *ngIf="error!=''">{{error}}</p>
    <div class="text-right">
      <button mat-button mat-dialog-close style="margin-right:10px" class="font">Cancel</button>
      <button *ngIf="data.title=='Create Product'" mat-raised-button class="create-btn font" color="primary">Create</button>
      <button *ngIf="data.title=='Update Product'" mat-raised-button class="create-btn font" color="primary"
        [disabled]=" !addProductForm.valid || !addProductForm.dirty">Update</button>
    </div>
  </form>
</div>